---
import Layout from "../layouts/Layout.astro";
import InstagramIcon from "../icons/Instagram.astro";
import GmailIcon from "../icons/Gmail.astro";
import PhoneIcon from "../icons/Phone.astro";
import pic1 from "../images/con-1.jpeg";
import pic2 from "../images/con-2.jpeg";
import pic3 from "../images/con-3.jpeg";
import { Image } from "astro:assets";
---

<Layout title="Contact">
  <div class="wrapper">
    <h1 class="title">
      Capture the Moment with Our Photo Booth Rental Services in the Lower Mainland<br />
    </h1>
    <div class="sub-title">We're available for events all over the Lower Mainland</div>
    <div class="img-grid">
      <figure><Image src={pic1} alt="Picture of a group of people" /></figure>
      <figure><Image src={pic2} alt="Picture of two people in a party" /></figure>
      <figure><Image src={pic3} alt="Picture of a Photo Booth" /></figure>
    </div>
    <h3>Have questions or need more information? Get in touch!</h3>
    <p>
      Whether you're looking for a quote, seeking additional details, or eager
      to share more about your plans, we're here for you. Feel free to call us
      or reach out through our social media channels.
    </p>
    <div class="info-wrapper">
      <div class="icon">
        <a href="tel:+17782318977" target="_blank"
          ><PhoneIcon />&nbsp; &nbsp; +1 7782318977</a
        >
      </div>
      <div class="icon">
        <a href="mailto:jehovahentertainment@outlook.com" target="_blank"
          ><GmailIcon />&nbsp; &nbsp; jehovahentertainment@outlook.com</a
        >
      </div>
      <div class="icon">
        <a href="https://www.instagram.com/ima_peace_maker/" target="_blank"
          ><InstagramIcon />&nbsp; &nbsp;@ima_peace_maker</a
        >
      </div>
    </div>
  </div>
</Layout>
<style>
  .img-grid {
    display: flex;
  }
  figure {
    width: 33.33%;
    position: relative;
    background-color: #eaeaea;
    padding: 14px;
  }

  @media (max-width: 768px) {

    .img-grid{
      flex-wrap: wrap;
      justify-content: center;
    }
    figure {
        width: 70%; 
    }
}
  figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    display: flex;
    padding: 15px;
  }
  .sub-title {
    color: #000;
    text-align: left;
    letter-spacing: 0.02em;
    text-transform: none;
    margin-bottom: 23px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
  }

  h1 {
    color: #000;
    text-align: center;
    white-space: normal;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 800;
    line-height: 62.4px;
  }

  h3 {
    font-size: 22px;
    font-weight: 800;
  }

  p {
    font-size: 18px;
    margin-top: -8px;
    padding-bottom: 30px;
    border-bottom: 1px solid;
  }
  .info-wrapper {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
  }
  .icon {
    margin-right: 0.6em;
    margin-left: 0.6em;
  }

  .icon a {
    color: #000508;
    display: flex;
    align-items: center;
  }
  .icon a:hover {
    fill: #999999;
    color: #999999;
  }

  a {
    text-decoration: none;
  }
</style>
