---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import pic1 from "../images/main-1.jpg";
import pic2 from "../images/main-2.jpg";
import pic3 from "../images/sub-1.jpg";
import pic4 from "../images/sub-2.jpg";
---

<Layout title="Jehovah Entertainment">
  <section class="sec-1">
    <div class="sec-grid">
      <Image src={pic1} alt="Photobooth setup" loading="eager"/>
      <Image src={pic2} alt="Photobooth stand" loading="eager"/>
    </div>
    <div class="sec-content">
      <h2>Ready to turn your event into an unforgettable celebration?</h2>
      <p>
        Booking your 360-photo booth with us at Jehovah entertainment is as easy
        as capturing the perfect shot. Contact us today to discuss your event
        details and let us tailor a photo booth experience to exceed your
        expectations. Are you excited to shoot your favorite gifs, boomerangs and
        videos through our unique experience with an affordable pricing? Give us
        a call and we will help you out to make your event memorable anywhere,
        anytime.
      </p>
    </div>
  </section>
  <section class="sec-2">
    <div class="sec-content">
      <p class="content-2">
        Embark on a journey where innovation meets celebration, and every photo
        tells a story - choose Jehovah Entertainment's 360 Photobooths for an
        event that transcends the ordinary. Step away from the conventional and
        embrace the extraordinary! Our 360- degree photobooths redefine event
        photography, capturing moments from every angle. The result?
        Mesmerizing, immersive memories that stand out in a world saturated with
        ordinary snapshots.
      </p>
    </div>
    <div class="wrapper">
      <div class="item">
        <div class="polaroid">
          <Image src={pic3} alt="Picture of two friends in a party" />
        </div>
      </div>
      <div class="item">
        <div class="polaroid">
          <Image src={pic4} alt="Picture of two friends in a party" />
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  h2 {
    font-size: clamp(2rem, 1.615vw + 1.69rem, 3.5rem);
    font-weight: 400;
    letter-spacing: 0.01em;
    font-family: Lucida, Georgia, serif;
    line-height: 116%;
  }

  p {
    font-size: clamp(1.3rem, 0.68vw + 1.21rem, 1.5rem);
    font-weight: 400;
    letter-spacing: -0.005em;
    line-height: 124%;
  }
  .sec-1 {
    background-color: #e1dcd0;
    display: flex;
    padding: 18px;
  }

  .sec-2 {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 5em;
  }

  .content-2 {
    min-width: 60%;
  }

  .sec-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .sec-grid img {
    width: 55% !important;
    height: 45% !important;
    object-fit: cover;
    border-radius: 30px;
  }

  .sec-content {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 1200px) {
    .sec-grid {
      gap: 3.5rem;
    }

    .sec-grid img:first-child {
      width: 80% !important;
    }

    .sec-grid img:nth-child(2) {
      width: 85% !important;
      height: 55% !important;
    }
    .sec-1 {
      flex-direction: column-reverse;
    }

    .sec-2 {
      flex-direction: column;
      gap: 1.5em;
    }
  }

  @media (max-width: 440px) {
    .wrapper {
      display: flex;
    }
  }

  .polaroid {
    background: #333;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  }
  .polaroid > img {
    max-width: 100%;
    height: auto;
  }

  .item {
    width: 40%;
    display: inline-block;
    margin-top: 2rem;
    transform: scale(0.8, 0.8) rotate(6deg);
  }

  .item:nth-child(2) {
    width: 59%;
  }

  .polaroid:before {
    transform: rotate(6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
  }
</style>
