---
import logo from "../images/logo.svg";
import { Image } from "astro:assets";
---

<header>
  <div class="wrapper">
    <div class="logo">
      <a href="/"><Image src={logo} alt="Jehovah Entertainment logo" /></a>
    </div>
    <nav>
      <div><a href="/">About</a></div>
      <div><a href="/contact/">Contact Us</a></div>
    </nav>
  </div>
</header>
<style>
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    margin-right: auto;
    line-height: 3rem;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    line-height: 3rem;
    gap: 1em;
  }

  a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
  }

  @media (max-width: 460px){
    img{
      width: 110px !important;
      height: 50px !important;
    }
  }
  @media (min-width: 460px) {
    nav {
      padding: 0 1rem;
      gap: 5em;
    }
  }

  @media (min-width: 1404px) {
    .wrapper {
      padding: 1.2rem 3rem;
    }
  }
  @media (min-width: 992px) {
    .wrapper {
      height: 5.25rem;
      padding: 1.2rem 1.5rem;
    }
  }
</style>
